.appVideos {
  position: relative;
  height: 800px;
  border-radius: 20px 20px 0 0;
  margin-left: 47px;
  overflow: scroll;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.appVideos::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.appVideos {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
